@media screen and (max-width: 1300px){


body{
    background-image: url(/img/main.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

nav{
    margin-top: 60%;
    padding-left: 0%;
    padding-right: 0%;
    display: block;
}


main{
    margin-top: 5%;
    background-image: url(/img/bg.png);
    background-size: 100%;
    font-size: 50px;
    font-family: "MusticaproSemibold";
    padding-left: 16%;
    padding-right: 16%;
    right: inherit;
    margin-left: 2.5%;
    margin-right: 2.5%;
}


.exampMeal-down{
    display: flex;
    text-decoration: none;
    width: 90%;
    margin: 10px;
    font-size: 45px;
    padding: 40px;
    background-color: #f5a490;
    color: white;
    font-family: "MusticaproSemibold";
    padding-left: 35px;
    padding-right: 45px;
    border-radius: 10px;
    position: relative;
    margin-top: 0px;
}

.exampMeal-down:hover{
    color: black;
    opacity: 0.85;
    transition-duration: 0.5s;
}

.exampMeal{
    display: flex;
    text-decoration: none;
    width: 90%;
    margin: 10px;
    font-size: 45px;
    padding: 40px;
    background-color: #f5a490;
    color: white;
    font-family: "MusticaproSemibold";
    padding-left: 35px;
    padding-right: 45px;
    border-radius: 10px;
    position: relative;

}

.exampMeal:hover{
    color: black;
    opacity: 0.85;
    transition-duration: 0.5s;
}

.typeMeal{
    margin-bottom: 10px;
    margin-left: 35px;
}

.meals{
    line-height:normal;
    display: flex;
    background-color: #e8402a;
    margin: 10px;
    font-size: 60px;
    padding: 40px;
    border:none;
    font-family: "MusticaproSemibold";
    width: 95%;
    color: white;
    border-radius: 10px;
}

.adsad{
    text-align: center;
}

.meals::before{
    content: "";
    background-position: center;
    background-image: url(/img/arrow-down.png);
    background-size: 55px 40px;
    background-repeat: no-repeat;
    width: 100px;
}

details[open] .meals::before{
    content: "";
    background-position: center;
    background-image: url(/img/arrow-up.png);
    background-size: 55px 40px;
    background-repeat: no-repeat;
}

.ingredients{
    background-color: ;
    border-style:outset;
    border-color: gray;
    border-width: 10px;
    box-shadow: 25px 50px 0px 1px #e8402a;
    border-radius: 10px;
    padding: 75px;
    margin-bottom:0%;
    font-size: 40px;
}

.imgMeal{
    width: 80%;
    margin-bottom: -100px;
    padding-top: 50px;
}

.zagolovok{
    text-align: center;
    margin-top: 150px;
    font-size: 100px;
}

.mealSteps{
    margin-left: -5%;
    margin-right: -5%;
    margin-bottom: 5%;
    padding: 60px;
}
.scrollA{
    position: sticky;
    top: 95%;
    left: 86.5%;
}

.scrollImg{
    width: 100px;
    height: 80px;
    opacity: 0.9;
    
}
ul div{
    font-size: 55px;
    text-align: center;
    font-style:oblique;
}
ol div{
    font-size: 50px;
    text-align: center;
    font-style:oblique;
    margin-top: 100px;
    margin-bottom: 3.5%;
    border-style:outset;
    border-color: gray ;
    border-width: 10px;
    box-shadow: 50px -25px 0px 1px #e8402a;
    border-radius: 10px;
    padding: 40px;
}
ol li {
    font-size: 40px;
}
.mealPage{
    display:block;
}
}
